article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

body {
  height: 100vh;
  background-image: url(../assets/andrew-kow-169884.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Abel';
  font-size: 18px;
  text-align: center;
  color: #fff; }

h1 {
  font-family: 'Indie Flower';
  font-size: 60px;
  margin: 0;
  margin-top: 10px; }
  h1 div {
    display: inline-block; }

h2 {
  margin: 10px; }

h3 {
  margin: 5px; }

.winner-color {
  font-size: 30px;
  font-weight: bold;
  margin-right: 15px; }

.color-format {
  font-size: 20px;
  margin: 10px; }
  .color-format label {
    display: inline-block;
    margin-right: 20px; }

ul {
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 470px;
  margin: 20px auto;
  padding: 0; }

.color-boxes li {
  width: 135px;
  height: 135px;
  margin: 10px;
  border-radius: 10px; }

.header-spacing {
  margin-right: 15px; }

#reset {
  border: none;
  padding: 5px 30px;
  font-weight: bold;
  color: #fff;
  background-color: #222; }

@media (max-width: 870px) {
  h1 {
    font-size: 45px; } }

/* Landscape phone to portrait tablet */
@media (max-width: 660px) {
  h1 {
    font-size: 40px; }
  h2, h3 {
    font-size: 20px; }
  .winner-color {
    font-size: 22px;
    margin-right: 10px; }
  ul {
    max-width: 425px; }
  .color-boxes li {
    width: 120px;
    height: 120px; } }

/* Landscape phones and down */
@media (max-width: 590px) {
  h1 {
    font-size: 30px; }
  .winner-color {
    margin-right: 4px; }
  ul {
    max-width: 425px; }
  .color-boxes li {
    width: 120px;
    height: 120px; }
  #reset {
    font-size: 15px; } }

@media (max-width: 590px) {
  ul {
    max-width: 245px; }
  .color-boxes li {
    width: 100px;
    height: 100px; } }
